body{
    background-color: rgb(1, 1, 65);
}
.MainHeading{
    text-align: center;
    color:white;
}

.demo{
    background-color: rgb(0, 0, 0);
    height: 500px;
    color: white;
    padding: 20px;
  margin: 20px;
}
.story1{
    color: rgb(255, 255, 255);
    border-radius: 0.5%;
    border-color: solid,rgb(0, 0, 0);
    background-image: url("cendrella.png");
    background-repeat: none;
    background-size: cover; /* Ensures the image covers the div area */
}

.story2{
    border-radius: 0.5%;
    border-color: solid,white;
    background-image: url("beauty\ and\ beast.png");
    background-repeat: none;
    background-size: cover;
}
.story3{
    border-radius: 0.5%;
    border-color: solid,white;
    background-image: url("tangled.png");
    background-repeat: none;
    background-size: cover;
}
.story4{
    border-radius: 0.5%;
    border-color: solid,white;
    background-image: url("lion\ king.png");
    background-repeat: none;
    background-size: cover;
    color:white;
}
p{
    visibility: hidden; /* Make the paragraph invisible S*/
    opacity: 0; /* Optionally, set opacity to 0 to make it fully transparent */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition for opacity and visibility */
}
.demo:hover p{
    font-size: 20px;
    visibility: visible; /* Make the paragraph visible */
    opacity: 1; /* Make the paragraph fully opaque */
}
button{
    background-color: transparent ;
    border: none;
    color:rgb(25, 73, 136);
    margin-left:1150px;
    margin-top:80px;
    font-size: 15px;
}
h5{
    font-size: 50px;
}
